<div>
  <img src="https://www.rentabike.ch/apps/services/image.cfm?source=jpg1/flyer_e-bikes_upstreet5_zurich_29_langzeitmiete-v1.jpg&crop=0x409x2500x850&resize=2500x850&dt=20230823105501637">
</div>

<div class="about-us">
  <h2>About us</h2>
  <p style = "font-size: 16pt;">
    Our mission is to provide an accessible, sustainable, and user-friendly 
    biking experience to people of all ages and backgrounds. 
    We aim to facilitate mobility, encourage physical activity, and reduce environmental impact 
    through a seamless bike rental service that leverages technology to connect individuals with 
    a fleet of high-quality bicycles for short and long-term use. 
    We are committed to fostering a sense of community and exploration, 
    empowering users to explore their surroundings with ease and comfort, 
    while supporting cities in reducing traffic congestion and promoting eco-friendly transportation alternatives.
  </p>
</div>

<div class="row">
  <h2>Why choose us?</h2>

  <div class="column">
    <h3>Accessibility</h3>
    <p style = "font-size: 16pt;"> 
      There are over 20 stations in MA, making bike rental easily accessible to anyone. It is our goal to provide 
      users with reliable and accessible transportation, so we have made our service available 24/7.
    </p>
  </div>

  <div class="column">
    <img src="https://www.springwise.com/wp-content/uploads/2018/09/Ofo_Springwise_1280x750.jpg">
    <br>
  </div>

  <div class="column">
    <h3>Budget Friendly</h3>
    <p style = "font-size: 16pt;">
      With 3 different membership plan options, you can easily find a membership that is suitable for your needs. 
      If you are a student, just give us Student ID and we have a special plan for you.
    </p>
    <br>
    <a class="button" href="membership.html">Discover pricing plans</a>
  </div>

  <div class="column">
    <img src="https://images.ctfassets.net/p6ae3zqfb1e3/2CeomZNihpBG2HdYlfr5nK/40135dfe151de3d26e0148b1eaea80dd/BIKETOWN_Homepage_Hero_2x.png">
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

</div>
