<div class="container">
  <img src="https://static01.nyt.com/images/2022/05/17/travel/00Urban-biking3/00Urban-biking3-videoSixteenByNineJumbo1600.jpg"></div>
  <div class="text_on_image">Contact Us</div>
</div>


<div class="about-us">
  <h2>Have a Question?</h2>
  <p style = "font-size: 16pt;">
    For questions about ValetBike, we encourage you to visit the About page. If you need help with instructions, please see the How it Works page. If you have encountered an issue with our service and would like to report a problem, please contact us at (123) 456-7890 or at valetbike@gmail.com.
  <br>
  <br>
  <br>
  <br>
  </p>
</div>