<div class="row">
  <img src="http://sunhakpeaceprize.org/data/plupload/o_1f2r27rfe1n572bl1pnl1sqk1d03a.jpg" style = "margin-bottom: -50px;">
  </div>
</div>

<div class = "row">
  <h2 style = "margin-bottom: -75px;">
    How It Works
  </h2>


  <div class="four-column">
    <h3>Step 1</h3>
    <br>
    <img src="https://static.vecteezy.com/system/resources/thumbnails/028/179/850/small_2x/bike-sign-icon-flat-vector.jpg" >
    <br>
    <p style = "font-size: 16pt;">Rent a Bike on the website to receive your unique code.</p>
    <br>
  </div>

  <div class="four-column">
    <h3>Step 2</h3>
    <br>
    <img src="https://thumbs.dreamstime.com/z/speed-bike-lock-icon-vector-flat-outline-secure-transport-protection-rent-color-289349209.jpg?w=768">
    <br>
    <p style = "font-size: 16pt;">Go to a station and input your code to unlock a bike.</p>
    <br>
  </div>

  <div class="four-column">
    <h3>Step 3</h3>
    <br>
    <img src="https://static.vecteezy.com/system/resources/previews/019/192/298/non_2x/man-bicycle-icon-color-outline-vector.jpg">
    <br>
    <p style = "font-size: 16pt;">Have fun, enjoy your ride, don't get a fly in your mouth!</p>
    <br>
  </div>

  <div class="four-column">
    <h3>Step 4</h3>
    <br>
    <img src="https://thumbs.dreamstime.com/b/park-bike-lock-icon-vector-flat-outline-sport-safety-secure-protection-color-289348914.jpg">
    <br>
    <p style = "font-size: 16pt;">Return the bike to a station. We hope you ride with us again!</p>
    <br>
  </div>

</div>