<div class="row">
  <img src="http://sunhakpeaceprize.org/data/plupload/o_1f2r27rfe1n572bl1pnl1sqk1d03a.jpg" style = "margin-bottom: -50px;">
  </div>
</div>

<div class = "row">
  <h2 style = "margin-bottom: -75px;">
    How It Works
  </h2>


  <div class="three-column">
    <h3>Step 1</h3>
    <br>
    <img src="https://thumbs.dreamstime.com/z/speed-bike-lock-icon-vector-flat-outline-secure-transport-protection-rent-color-289349209.jpg?w=768">
    <br>
    <p>Go to a station and input your code to unlock a bike.</p>
  </div>

  <div class="three-column">
    <h3>Step 2</h3>
    <br>
    <img src="https://static.vecteezy.com/system/resources/previews/019/192/298/non_2x/man-bicycle-icon-color-outline-vector.jpg">
    <br>
    <p>Enjoy your ride.</p>
  </div>

  <div class="three-column">
    <h3>Step 3</h3>
    <br>
    <img src="https://thumbs.dreamstime.com/b/park-bike-lock-icon-vector-flat-outline-sport-safety-secure-protection-color-289348914.jpg">
    <br>
    <p>Return the bike to a station.</p>
  </div>