<div>
<div>
  <img src="https://www.fairfaxva.gov/home/showpublishedimage/16399/637850424748600000">
</div>
<div class="about-us">
  <h2>Welcome to ValetBike!</h2>
  <p>
    Experience the freedom of biking with ValetBike, your trusted partner for convenient and eco-friendly transportation. Whether you are commuting to work, exploring the city, or just enjoying a leisurely ride, ValetBike is here to enhance your biking journey.
  </p>
</div>