<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <title>Display a map on a webpage</title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans"rel="stylesheet"/>
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
        <style>s
            body { 
            margin: 0; 
            padding: 0; 
            }
            #map { 
            position: absolute; 
            top: 10%; 
            bottom: 10%; 
            width: 100%; 
            }
            .mapboxgl-popup {
            max-width: 200px;
            }
            .mapboxgl-popup-content {
            text-align: center; 
            font-family: 'Open Sans', 
            sans-serif;
            }
        </style>
    </head>
    <body>

    <div id="map"></div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2FpeWF0aHVyYWkiLCJhIjoiY2xwMDdpdWZuMDQwejJqbGU5dmIyYWN0dCJ9.2L9gQhZh6Kz-dPjXCmqwMg';
        const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [-72.64, 42.325], // starting position [lng, lat]
        zoom: 11.5 // starting zoom
    });
    
    <% @stations.each do |station| %>
        new mapboxgl.Marker({color: 'orange'})
        .setLngLat([<%= station.longitude %>, <%= station.latitude %>])
        .setPopup(
        new mapboxgl.Popup({ offset: 25 }) 
        .setHTML("<h3><%=station.name%></h3><p>Docked Bike Count: <%=station.docked_bikes.count%></p>")
        )   
    .addTo(map); 
    <%end%> 
    </script>
    </body>
</html>