<div>
  <h1 class="font-bold text-4xl">home_page#MembershipPlans</h1>
  <p>Find me in app/views/membership_plans/index.html.erb</p>

  <h4>list of available memberships w/ links to payment page</h4>
</div>