<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Welcome to ValetBike
    </div>  
    <div>
      <b>All Stations</b>
    <% @stations.each do |station| %>
    <div>
      <h2><%= link_to station.name, station %> </h2>
    </div>
    <% end %>
    </div>
	</div>
</div>



<html>
<head>
    <link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home_page.html">Home</a></li>
				        <li><a href="about.html">About</a></li>
                <li><a href="how_it_works.html">How It Works</a></li>
				        <li><a href="trip_planning.html">Plan a Trip</a></li>
                <li><a href="membership_plans.html">Membership Plans</a></li>
                <li><a href="login_sign_up.html">Login</a></li>

            </ul>
        </nav>
    </header>
</body>
</html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
    <footer>
        <ul>
            <li><a href="help.html">Help</a></li>
            <li><a href="contact_us.html">Contact Us</a></li>
            <li><a href="report_a_problem.html">Report an Issue</a></li>
        </ul>
    </footer>
</body>
</html>