<div>
    <h3> Would you like to return your bike? </h3>
  <div class="row">
    <div class="column">
    <a class="button" href="map.html">Yes</a>
    </div>
    <div class="column">
    <a class="button" href="map.html">No</a>
    </div>
  </div>
</div>